# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Node
# ===========================
node_modules/

# ===========================
# Build Files
# ===========================
build/
dist/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db